#head{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgb(225, 165, 13);
}

#mouth{
    height: 55px;
    width: 200px;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.lefteye,.righteye{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}
.righteye{
    left: 250px;
}